.userPhoto {
    width: 100px;
    border-radius: 50% ;
    /*height: 100px;*/
}
.selectedPage {
    font-weight: bold;
}
.pageNum {
    cursor: pointer;
    margin: 5px;
    /*white-space: pre-wrap;*/
    /*word-wrap: break-word;*/
}
.pageNumContainer {
    padding: 10px;
}